@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  place-content: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: gainsboro;
}

.label {
  @apply uppercase pb-1 text-sm font-extrabold tracking-widest block;
}

.input {
  @apply w-[100%] h-12 px-3 md:p-4 md:w-32 md:h-14 font-bold text-xl md:text-2xl outline-none  active:border-primaryPurple focus:border-primaryPurple rounded-md border-[.8px] border-gray-300;
}

.error-message {
  @apply text-primaryLightRed block text-xs italic pt-2;
}
